
<%@ page import="videorentalsystem.ChildrenVideo" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'childrenVideo.label', default: 'ChildrenVideo')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-childrenVideo" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-childrenVideo" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
				<thead>
					<tr>
					
						<g:sortableColumn property="videoTitle" title="${message(code: 'childrenVideo.videoTitle.label', default: 'Video Title')}" />
					
						<g:sortableColumn property="maximumAge" title="${message(code: 'childrenVideo.maximumAge.label', default: 'Maximum Age')}" />
					
						<g:sortableColumn property="videoGenre" title="${message(code: 'childrenVideo.videoGenre.label', default: 'Video Genre')}" />
					
						<g:sortableColumn property="videoType" title="${message(code: 'childrenVideo.videoType.label', default: 'Video Type')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${childrenVideoInstanceList}" status="i" var="childrenVideoInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${childrenVideoInstance.id}">${fieldValue(bean: childrenVideoInstance, field: "videoTitle")}</g:link></td>
					
						<td>${fieldValue(bean: childrenVideoInstance, field: "maximumAge")}</td>
					
						<td>${fieldValue(bean: childrenVideoInstance, field: "videoGenre")}</td>
					
						<td>${fieldValue(bean: childrenVideoInstance, field: "videoType")}</td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${childrenVideoInstanceTotal}" />
			</div>
		</div>
	</body>
</html>
